RESTToWSTranslations/Interfaces/Contracts/HotelManagement_1_0.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://services.alesaudate.com/hotel" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HotelManagementService"
	targetNamespace="http://services.alesaudate.com/hotel">
	<wsdl:types>
		<xsd:schema targetNamespace="http://services.alesaudate.com/hotel">
			<xsd:include schemaLocation="../Schemas/Hotel_1_0.xsd" />
			
			
			<xsd:element name="listHotels">
				<xsd:complexType />
			</xsd:element>
			<xsd:element name="listHotelsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="tns:hotels" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="addHotel">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="tns:hotel" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="addHotelResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="tns:hotel" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="bookHotel">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="tns:booking" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="bookHotelResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="tns:booking" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="confirmBooking">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="tns:booking" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="confirmBookingResponse">
				<xsd:complexType />
			</xsd:element>
			
			<xsd:element name="discardBooking">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="tns:booking" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="discardBookingResponse">
				<xsd:complexType />
			</xsd:element>
			
			
			
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="listHotelsRequest">
		<wsdl:part element="tns:listHotels" name="body" />
	</wsdl:message>
	<wsdl:message name="listHotelsResponse">
		<wsdl:part element="tns:listHotelsResponse" name="body" />
	</wsdl:message>
	
	<wsdl:message name="addHotelRequest">
		<wsdl:part element="tns:addHotel" name="body" />
	</wsdl:message>
	<wsdl:message name="addHotelResponse">
		<wsdl:part element="tns:addHotelResponse" name="body" />
	</wsdl:message>
	
	<wsdl:message name="bookHotelRequest">
		<wsdl:part element="tns:bookHotel" name="body" />
	</wsdl:message>
	<wsdl:message name="bookHotelResponse">
		<wsdl:part element="tns:bookHotelResponse" name="body" />
	</wsdl:message>
	
	<wsdl:message name="confirmBookingRequest">
		<wsdl:part element="tns:confirmBooking" name="body" />
	</wsdl:message>
	<wsdl:message name="confirmBookingResponse">
		<wsdl:part element="tns:confirmBookingResponse" name="body" />
	</wsdl:message>
	
	<wsdl:message name="discardBookingRequest">
		<wsdl:part element="tns:discardBooking" name="body" />
	</wsdl:message>
	<wsdl:message name="discardBookingResponse">
		<wsdl:part element="tns:discardBookingResponse" name="body" />
	</wsdl:message>
	
	
	<wsdl:portType name="HotelManagement_1_0">
		<wsdl:operation name="listHotels">
			<wsdl:input message="tns:listHotelsRequest" />
			<wsdl:output message="tns:listHotelsResponse" />
		</wsdl:operation>
		<wsdl:operation name="addHotel">
			<wsdl:input message="tns:addHotelRequest" />
			<wsdl:output message="tns:addHotelResponse" />
		</wsdl:operation>
		<wsdl:operation name="bookHotel">
			<wsdl:input message="tns:bookHotelRequest" />
			<wsdl:output message="tns:bookHotelResponse" />
		</wsdl:operation>
		<wsdl:operation name="confirmBooking">
			<wsdl:input message="tns:confirmBookingRequest" />
			<wsdl:output message="tns:confirmBookingResponse" />
		</wsdl:operation>
		<wsdl:operation name="discardBooking">
			<wsdl:input message="tns:discardBookingRequest" />
			<wsdl:output message="tns:discardBookingResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HotelManagement_1_0SOAP" type="tns:HotelManagement_1_0">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="listHotels">
			<soap:operation
				soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addHotel">
			<soap:operation
				soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="bookHotel">
			<soap:operation
				soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="confirmBooking">
			<soap:operation
				soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="discardBooking">
			<soap:operation
				soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HotelManagement_1_0">
		<wsdl:port binding="tns:HotelManagement_1_0SOAP" name="HotelManagement_1_0SOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
