RESTToWSTranslations/Interfaces/Schemas/Common_1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://services.alesaudate.com/common"
	xmlns:tns="http://services.alesaudate.com/common" elementFormDefault="qualified">
	
	
	<element name="contact" type="tns:Contact" />
	
	
	<complexType name="Contact">
		<sequence>
			<element name="identifier" type="string" minOccurs="0" />
			<element name="name" type="string" minOccurs="0" />
			<element name="email" type="string" minOccurs="0" />
		</sequence>	
	</complexType>
	
</schema>